.loader span{
    font-size: 7rem;
    color: #102A42;
      transition: all 0.5s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
}

h1{
    text-align: center;
     color: #102A42;
}

.travel{
    position: relative;
}
.line{
    border: 2px solid deepskyblue;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}

